
p{
    font-size: 24px;
    background-color: rgb(29, 128, 128);
    }
    .conteiner {
        margin: 20px;
        margin-top: 50px;
        display: inline-block;
        text-align: center;
        background-color: rgb(244, 230, 230);


    }
    .main {
        text-align: center;
        
    }